{% extends "wypozyczalnia/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
        <div class="col-6 offset-3">
            <h5 class="title">Zaloguj się</h5>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom">
                        {{ form|crispy }}
                    </legend>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Zaloguj</button>
                </div>
                <div class="border-top pt=5">
                    <small class="text-muted">
                        Nie masz konta?<a href="{% url 'register' %}">Zarejestruj się</a>
                    </small>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock content %}